@import "tailwindcss";

/* Dark mode: class-based strategy */
@custom-variant dark (&:where(.dark, .dark *));

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

.mapboxgl-ctrl-logo, .maplibregl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-attrib, .maplibregl-ctrl-attrib {
  font-size: 10px !important;
}
