@import "tailwindcss";

/* Custom scrollbar for sidebar */
aside::-webkit-scrollbar {
  width: 6px;
}
aside::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 3px;
}
aside::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
